# Gradle
.gradle/
build/
bin/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# Secrets
src/main/resources/application-secret.yml

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
application.yml
application-secret.yml